
.category-box:hover {
  background-color: #f8f9fa;
  cursor: pointer;
  transform: scale(1.02);
  transition: all 0.3s ease;
}


.card-title {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.card:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
